<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#375EAB">

  {{with .Tabtitle}}
  <title>{{html .}} - Go Documentation Server</title>
  {{else}}
  <title>Go Documentation Server</title>
  {{end}}

  <link type="text/css" rel="stylesheet" href="/lib/godoc/style.css">

  {{if .TreeView}}
  <link rel="stylesheet" href="/lib/godoc/jquery.treeview.css">
  {{end}}

  <link type="text/css" rel="stylesheet" href="/lib/godoc/bootstrap-grid.min.css">
	<link type="text/css" rel="stylesheet" href="/lib/godoc/bootstrap-reboot.min.css">
  <link type="text/css" rel="stylesheet" href="/lib/godoc/bootstrap.min.css">

  <script>window.initFuncs = [];</script>

  <script src="/lib/godoc/jquery.js"></script>
  <script src="/lib/godoc/popper.min.js"></script>

	<script src="/lib/godoc/bootstrap.bundle.min.js"></script>
  <script src="/lib/godoc/bootstrap.min.js"></script>

  {{if .TreeView}}
  <script src="/lib/godoc/jquery.treeview.js"></script>
  <script src="/lib/godoc/jquery.treeview.edit.js"></script>
  {{end}}

  {{if .Playground}}
  <script src="/lib/godoc/playground.js"></script>
  {{end}}

  {{with .Version}}
  <script>var goVersion = {{printf "%q" .}};</script>
  {{end}}

  <script src="/lib/godoc/godocs.js" defer></script>
</head>
<body>

  <div id='lowframe' style="position: fixed; bottom: 0; left: 0; height: 0; width: 100%; border-top: thin solid grey; background-color: white; overflow: auto;">
  ...
  </div><!-- #lowframe -->

  <div id="topbar"{{if .Title}} class="wide"{{end}}>
    <div class="container">
      <div class="top-heading" id="heading-wide"><a href="/pkg/">Go Documentation Server</a></div>
      <div class="top-heading" id="heading-narrow"><a href="/pkg/">GoDoc</a></div>
      <a href="#" id="menu-button"><span id="menu-button-arrow">&#9661;</span></a>
    </div>
  </div>

  <div id="page"{{if .Title}} class="wide"{{end}}>

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">

        <aside id="sidebar" class="col-md-3 col-xl-2">
          {{printf "%s" .Sidebar}} {{/* Sidebar is HTML-escaped elsewhere */}}
        </aside>

        <main id="main-column" class="col-md-9 col-xl-10 py-md-3 pl-md-5">

          {{if or .Title .SrcPath}}
          <h1>
            {{html .Title}}
            {{html .SrcPath | srcBreadcrumb}}
          </h1>
          {{end}}

          {{with .Subtitle}}
          <h2>{{html .}}</h2>
          {{end}}

          {{with .SrcPath}}
          <h2>Documentation: {{html . | srcToPkgLink}}</h2>
          {{end}}

          {{/* The Table of Contents is automatically inserted in this <div>. Do not delete this <div>. */}}
          <div id="nav"></div>

          {{printf "%s" .Body}}{{/* Body is HTML-escaped elsewhere */}}
        </main>
      </div>

      <div id="footer">Made by godoc</div>

    </div><!-- .container -->

  </div><!-- #page -->
</body>
</html>
